<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="applicationName" value="readingIsGood" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
               [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t][${applicationName}]%-40.40logger{2}%-4.4L%msg%n%xEx
            </Pattern>
        </layout>
    </appender>

    <logger name="com.readingisgood" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>